
body {
    padding: 0;
    h1{
        text-align: center;
    }

    .container {
        display: flex;
        flex-direction: column;
        width: 400px;
        gap: 10px;
    }

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}