<body>
    <form class="form-container" [formGroup]="formularioDepartamento" (ngSubmit)="criarOuEditar()">
        <p class="title">{{ titulo }}</p>
        <div class="input-group">
            <label for="nome">Nome</label>
            <input type="text" id="nome" placeholder="Digite o nome do departamento" formControlName="nome" name="nome"
                required />
            @if(formularioDepartamento.get('nome')?.invalid && formularioDepartamento.get('nome')?.touched){
            <div class="erro">Preencha o campo Nome!</div>
            }
        </div>

        <div class="input-group">
            <label for="local">Local</label>
            <input type="text" id="local" placeholder="Digite o local" formControlName="local" name="local" required />
            @if(formularioDepartamento.get('local')?.invalid && formularioDepartamento.get('local')?.touched){
            <div class="erro">Preencha o campo Local!</div>
            }
        </div>

        <button class="sign" type="submit">
            {{textoButton}}
        </button>
    </form>

</body>