@import url('https://fonts.googleapis.com/css2?family=Charis+SIL:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
    h1 {
        margin-top: 20px;
        font-family: "Charis SIL", serif;
        font-weight: 400;
        font-style: normal;
    }

    display: flex;
    flex-direction: column;
    gap: 2em;
    justify-content: center;
    align-items: center;

    .cont-tabela {
        max-width: 70%;
        max-height: 350px;
        overflow-y: scroll;
        padding: 0;
        margin: 0;
    }

    button {
        margin-top: 20px;
        width: 100%;
    }
}