header{
    border: 0.4px solid black;
    color: white;
    background-color: black;
    padding: 10px;
    ul{
        display: flex;
        list-style: none;
        justify-content: end;
        margin: 20px;
        gap: 20px
    }
    li{
        cursor: pointer;
    }

}