body{
    display: flex;
    flex-direction: column;
    gap: 2em;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

    .cont-tabela{
        max-height:350px;
        overflow-y: scroll;
        padding: 0;
        margin: 0;
    }
    button{
        width: 100%;
    }
}