@import url('https://fonts.googleapis.com/css2?family=Charis+SIL:ital,wght@0,400;0,700;1,400;1,700&display=swap');
header {
    display: flex;
    flex-direction: column;
    padding: 15px;
    box-shadow: -3px 11px 68px -22px rgba(0, 0, 0, 0.59);
    -webkit-box-shadow: -3px 11px 68px -22px rgba(0, 0, 0, 0.59);
    -moz-box-shadow: -3px 11px 68px -22px rgba(0, 0, 0, 0.59);
    margin-bottom: 20px;
    border-bottom: .5px solid rgba(0, 0, 0, 0.12);
    background-color: black;

    nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        ul {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: end;
            list-style: none;
            gap: 15px;

            li {
                cursor: pointer;
                color: white;
            }
            li.ativo{
                border-bottom: 2px solid red;
                font-weight: bold;
            }
        }
    }
}

.containerTable{
    width: 400px;
    width: 70%;
    table{
        overflow-y: scroll;
        text-align: center;
    }
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    h2{
        font-family: "Charis SIL", serif;
  font-weight: 400;
  font-style: normal;
    }
}