body {
    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.form-container {
    width: 35%;
    border-radius: 0.75rem;
    background-color: #f7f7f7;
    padding: 2rem;
    color: #333;
    margin: 40px auto;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.title {
    text-align: center;
    font-size: 1.6rem;
    font-weight: 700;
    color: black;
}

.form {
    margin-top: 1.5rem;
}

.input-group {
    margin-top: 1rem;
    font-size: 0.9rem;
}

.input-group label {
    display: block;
    color: #666;
    margin-bottom: 6px;
}

.input-group input,
.input-group select {
    width: 100%;
    border-radius: 0.375rem;
    border: 1px solid #ccc;
    outline: 0;
    background-color: #fff;
    padding: 0.75rem 1rem;
    color: #333;
    font-size: 0.9rem;
}

.input-group input:focus,
.input-group select:focus {
    border-color: #00698f;
}

.sign {
    display: block;
    width: 100%;
    background-color: #24b4fb;
    padding: 0.75rem;
    text-align: center;
    color: #fff;
    border: none;
    border-radius: 0.375rem;
    font-weight: 600;
    margin-top: 1.5rem;
    cursor: pointer;
    transition: background 0.3s ease;
}

.sign:hover {
    background-color: #005779;
}
.erro{
    color: red;
}